 
.img-max {
  max-width:100px;
  width:100%;
}



.text-center {
  text-align: center;
}

.heading-small {
  font-size: 1.25rem;
}
.heading-medium {
  font-size: 1.5rem;
}
.heading-big {
  font-size: 1.75rem;
}

 

.bg-dark-blue {
  background: rgb(151, 177, 218);
}
.bg-light-blue {
  background: #61b4bd;
}
.bg-light {
  background: #fff;
}

 

.btn {
  margin-top: 1.25rem;
  padding: 0.8rem 3rem;
  border-radius: 7px;
  letter-spacing: 0.5px;
}
.btn-primary {
  background: rgb(151, 177, 218);
}
.btn-primary:hover {
  color: #9706a2;
  background: #fff;
  border: 1px solid #9300d2;
}
.btn-dark {
  background: #333;
}
.btn-dark:hover {
  color: #333;
  background: #fff;
  border: 0.5px solid #333;
}

.btn-block {
  width: 100%;
  text-align: center;
}
 

.form-group {
  padding: 0.25rem 0;
}
.form-group label {
  display: block;
}
.form-control {
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  resize: none;
  border-radius: 5px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
