* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
html {
  font-family: "Open Sans", sans-serif;
}
/* Navbar Section */
#navbar {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.75rem;
  height: 70px;
}
#navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
#navbar ul li a {
  padding: 0.5rem;
}
#navbar ul li a:hover {
  background: #de5499;
  border-radius: 4px;
}

/* Home Section */

#home {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 10rem;
  border-bottom: 1px solid grey;
 
 
  
  background-size: cover;
  background-repeat: no-repeat;
}

#home img {
  max-width: 100%;
  height: auto;
  border-radius: 4%;
}
#home .name h2 {
  margin-bottom: 0.75rem;
}
#home .name p {
  opacity: 0.6;
  font-style: italic;
}

/* Training */

#training {
  color: #fff;
  padding: 2rem;
 background-size: contain;
 background-repeat:unset ;
  
}
#training .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#training .items .item {
  width: 33%;
  text-align: center;
  padding: 0.5rem;
}
#training .items .item:hover {
  color: rgb(255, 0, 0);
  opacity: 1;
}
 

#courses {
  color: #333;
  padding: 1rem;
}
.courses {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.courses .course {
  display: flex;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.courses .course .course-image {
  margin-right: 0.5rem;
  position: relative;
}
.courses .course .course-image img {
  border-radius: 5px;
}
.courses .course .course-image span {
  background: red;
  padding: 0.25rem;
  color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 15px;
  left: 0;
}
.courses .course .course-info .title {
  letter-spacing: 1.2px;
  font-weight: 700;
  margin-bottom: 0.25rem;
}
.courses .course .course-info .description {
  letter-spacing: 1.2px;
  margin-bottom: 0.25rem;
 
}
.courses .course .course-info .instructor {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
 
}
.courses .course .course-info .rating {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  
}
 

#contact {
  color: #fff;
  background-image: url("https://c0.wallpaperflare.com/preview/1013/721/141/contact-details-smartphone-business-contact-us.jpg");
  padding: 1rem;
}

#contact .contact-form {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

#contact .contact-form ul {
  list-style-type: none;
  display: flex;
  margin-top: 1rem;
  align-self: center;
}
#contact .contact-form ul li a {
  padding: 1rem;
  font-size: 2rem;
}
#contact .contact-form ul li a:hover {
  opacity: 0.8;
}
