/* .card {
     background-color: rgb(145, 255, 231);
    color: blue;
    text-align: center;  
} */

/* .row {
    color: rgb(100, 0, 22);
} */

/* html {
    background-color: rgb(82, 0, 158);
} */
/* 
BODY {
    background-color: rgb(82, 0, 158);
} */
/* 
.tablo {
    text-align: center;
     margin: 12.5% auto;  
} */